@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", serif;
}
nav {
  width: 100%;
  height: 50px;
}

nav .navbar-brand {
  color: #ffff;
  font-size: 28px;
  font-weight: 700;
}

nav a {
  color: #ffff;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  transition: 0.3s ease-in-out;
}

nav .navbar-nav a.active {
  background-color: #ffff;
  color: #000;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  width: 400px;
  margin: 10px 0px;
}
.form-group .form-lable {
  margin: 5px 0px;
}

.form-group button {
  width: 130px;
}
