@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
  transition: 0.3s ease-in-out;
}

:root {
  --poppins: "Poppins", sans-serif;
  --style: "Style Script", cursive;
}

nav {
  position: relative;
  width: 100%;
}

nav .navbar-brand {
  fill: #ffff;
}

.navbar-nav li {
  padding: 0 20px;
  font-weight: 500;
}

.navbar-nav .dropdown-menu li {
  padding: 8px;
}

.navbar-nav .dropdown-menu {
  margin-left: -100px;
}
.header {
  position: absolute;
  width: 100%;
  height: 900px;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.search-box {
  width: 40%;
  height: 100vh;
  position: absolute;
  top: 70%;
  left: 30%;
}
.input-box {
  background-color: #ffff;
  padding: 8px 0px;
  border-radius: 10px;
  position: relative;
}
.input-box li {
  padding: 3px 8px;
}

.input-box input {
  width: 100%;
  height: 40px;
  border: none;
}

.input-box #search:focus {
  outline: none !important;
}

.dropdown-menu li a i {
  padding: 0px 5px;
  color: #abaaaa;
}

.dropdown-menu li a:hover i {
  color: #000;
}

.lang {
  width: 25px;
}
.choice-btn {
  width: 130px;
}
.choce-btn:hover {
  background: #ccc;
}

.btn-search {
  position: absolute;
  top: 20%;
  right: 0;
}

.btn-search button {
  width: 60px;
  height: 40px;
  border: none;
  background: transparent;
}
.btn-search button i {
  font-size: 22px;
  color: #a8a4a4;
}
.choice-btn li i {
  color: #a8a4a4;
}
.btn-search button:focus {
  outline: none !important;
  color: #000;
}

.toggle-btn:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.btn-search button i:hover,
.choice-btn li i:hover {
  color: #000 !important;
}

.choice-btn .dropdown-menu {
  margin-left: -10px;
  width: 70px !important;
}

.main-navbar {
  width: 100%;
  margin-top: 450px;
}

.main-navbar ul li {
  padding: 0 15px;
  list-style: none;
}
.main-navbar ul li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 15px;
}
.main-navbar ul li a.active {
  background-color: #000;
  padding: 10px 15px;
  color: #fff;
  border-radius: 50px;
}

.gallery-container {
  margin-top: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.7); */
  color: white;
  text-align: center;
}

.photographer-name {
  margin: 0;
  font-size: 14px;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.random-avatar {
  width: 50px;
  height: 50px;
}
.card-top-icon {
  position: absolute;
  right: 20px;
  top: 10px;
}

.card-top-icon button:hover {
  background-color: #01010169;
  border-radius: 10px;
}

/* Hover effect for card */
.card:hover .card-top-icon,
.card:hover .image-info {
  opacity: 2;
}

/* Transition for smooth hover effect */
.card-top-icon,
.image-info {
  transition: opacity 0.3s ease-in-out;
}
